/* Achat.css */

.achat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .achat-details {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(149, 157, 165, 0.2);
    border-radius: 24px;
    margin-top: 20px;
  }
  
  .achat-image {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 20px;
  }
  
  .achat-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Ajoutez d'autres styles si nécessaire */
  