/* DogDetails.css */

.dog-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .dog-details-content {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(149, 157, 165, 0.2);
    border-radius: 24px;
  }
  
  .dog-details-image {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 20px;
  }
  
  .dog-details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dog-details-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .dog-details-breed {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    font-family: 'system-ui';
    margin-bottom: 10px;
  }
  
  .dog-details-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #fec224;
    font-family: 'system-ui';
    margin-bottom: 10px;
  }
  
  .dog-details-caption {
    font-family: 'system-ui';
    margin-bottom: 20px;
  }
  
  /* Ajoutez d'autres styles si nécessaire */
  