/* Nouveau Style (payment-alt.css) */

.payment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.payment-form {
  width: 40%;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(149, 157, 165, 0.2);
  border-radius: 12px;
}

.payment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #1c1d1b;
  border-radius: 4px;
}

.payment-button {
  padding: 12px 24px;
  border: none;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.5s;
  transition-property: background-color, box-shadow;
  background: #34db95;
  box-shadow: 0 0 5px #34dba3;
}

.payment-button:hover {
  background-color: #21bb4f;
  box-shadow: 0 0 15px #21bb42;
}

@media only screen and (max-width: 767px) {
  .payment-form {
    width: 80%;
    padding: 15px;
  }
}
